html {                /* Makes everything fit on one page with no scrolling */
width: 100%;
height: 100%;
clip: auto;
position: absolute;
overflow: hidden;
}
/*Header CSS STARTING here --------------------------------------------   */

#header ul{
	margin-top: 10px;
	margin-right:10px;
	list-style-type:none;
	float:right;
	font-size: 14px;
}

#header li{
	float:left;
	padding: 5px;
}

#header li a{
	display: block;
	color: #424242;
}

#header a:link{
	text-decoration: none;	
}

#header a:link:hover{	
	text-decoration: underline; 
}

#google_apps_logo{
	opacity: 0.5;
	height: 20px;
	width: 20px;
	margin-top: -3px;
}

#sign_in_button {

	display:block;
	float:right;
	background-color: #0266C8;
	border-style: solid;
	border-color: #0266C8;
	margin-left: 10px;
	border-radius:2px;
}

#sign_in_button a{
	position: relative;
	color: white !important;
	text-align: center;
	display:block; 
	font-family: arial, sans-serif;
	margin-top: -3px;

	padding: 2px 10px 0px 7px;
}

/*Header CSS ENDING here --------------------------------------------   */

/*Search box, Search button CSS STARTING here ---------------------------   */


#googleimage {
	text-align: center;
	padding-top: 180px;
}

.searchform {
	text-align: center;
}

#search_box {
	vertical-align: middle;
	padding-top: 10px;
	left: -25px;
	height: 24px;

}

.search_button {
	color: #4d4d33;
	background-color:  #F5f5f0;
	opacity: .7;
	font-weight: bold;
	border-style: solid;
	border-width: 1px;
	border-color: #ebebe0;
	padding: 8px 5px 8px 5px; /*Padding as follows, top, right, bottom, left. */
	margin: 3px;

}

.search_button:hover{
	border-color: #4d4d33;
	color: #000000;
}

.footer {
	position: absolute;
	height: 40px;
	opacity: .9;
	bottom:0px;
	right:0px;
	left: 0px;
	background-color: #f3f3f3;
	border: 0px;
	list-style-type: none;
		margin-left: 0px;
}

.footer ul{
	list-style-type: none;
	float: right;
}

.footer li{
	float: left;
	display: block;

}
.footer li a{
	color: #424242;
	font-size: 90%;
	font-family: arial;
	padding: 3px;
	padding-left: 10px;
}

.footer a:link{
	text-decoration: none;
}

.footer a:link:hover{
	text-decoration: underline;
}

.left_footer {
	float: left;
}

.right_footer {
	float: right;
	margin-right: 40px;
}

/*Search box, Search button CSS ENDING here ---------------------------   */
